body {
  background-color: #f2e1a4;
}

h1 {
  text-align: center;
  color: grey;
  font-size: 40px;
  font-family: monospace;
}
h2 {
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: 'Autour One', cursive;
}
h3 {
  text-align: center;
  color: green;
  font-size: 20px;
  font-family: monospace;
}
.up_button {
  background-color: #f2501a;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}
.down_button {
  background-color: #42d7f4;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}
.on_button {
  margin-right: -2px;
  background-color: green;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
}
.off_button {
  margin-left: -2px;
  background-color: orange;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
}
.reset_button {
  background-color: #8a588e;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}
.button_div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.weather {
  text-align: center;
  font-family: 'Autour One', cursive;
  font-size: 20px;
  font-weight: bolder;
  color: #474f4d;
  margin-top: 30px;
}
