body {
  background-color: #f2e1a4;
}

h1 {
  text-align: center;
  color: #4b4e54;
  font-size: 40px;
  font-family: monospace;
}
h2 {
  text-align: center;
  margin: auto;
  color: black;
  font-size: 40px;
  font-family: 'Autour One', cursive;
}
h3 {
  text-align: center;
  color: green;
  font-size: 18px;
  font-family: monospace;
  margin-top: -5px;
}
h4 {
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: monospace;
  margin-top: -5px;
  margin-bottom: 10px;
}

.thermostat-div {
  background-color: #b3bccc;
  margin: auto;
  width: 350px;
  border-radius: 10px;
  padding-top: 2px;
  box-shadow: 5px 5px 5px #4a4d54;
  border-style: outset;
}
.boxed {
  width: 200px;
  height: 50px;
  border: 5px solid black;
  background-color: lightblue;
  padding: 5px;
  margin: auto;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

#power_save {
  margin-top: 5px;
}

.up_button {
  background-color: #f2501a;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}
.down_button {
  background-color: #42d7f4;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}
.on_button {
  margin-right: -2px;
  background-color: green;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
}
.off_button {
  margin-left: -2px;
  background-color: orange;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
}
.reset_button {
  background-color: #8a588e;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.button_div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.city-div {
  margin-top: 20px;
  text-align: center;
}

#city {
  margin-bottom: 5px;
}

#city_icon_div {
  text-align: center;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.weather {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight: bolder;
  color: #474f4d;
  margin-top: 10px;
}
